.heading {
    width: 100%;
    font-size: 35px;
    margin-top: 0px;
    font-family: 'Bungee Spice', cursive;

}
.heading button {
    float : right;
    border: 1px solid white;
    font-size: 20px;
}
.big_image{
    width: 100%;
}
#Start,#Status{
    font-size: 22px;
}

.modal-dialog{
    width: 90%;
}
.Instructions_image{
    width:45%;
    display:inline-block;
}
h4{
    background-color: white;
    line-height: 2;
    margin:0px;
}
video {
background: url("game_console.png");
background-size: cover;
background-position: center;
padding: 65px;
}